
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/site.css">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content | safe }}

    <script defer="true" src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
  </body>
</html>